{% extends 'base.html' %}

{% block content %}
{##}
{#    <a href="/films/">#}
{#    <button>ALL</button>#}
{#    </a>#}
{##}
{#{% for director in directories %}#}
{#    <a href="director/{{ director.id }}/film/">#}
{#    <button>{{ director.name }}</button>#}
{#    </a>#}
{#{% endfor %}#}
   <h1>All films</h1>
    {% for film in film_list %}
        <a href="/films/{{ film.id }}/">
            <h3>Title: {{ film.title }}</h3>
        </a>
        <p>Author: {{ film.author }}</p>
        <p>Rating: {{ film.rating }}</p>

    {% endfor %}
{% endblock %}